# SuperMarioCV

SuperMarioCV_pat

*.rtf
*.mov
_[Cc]ontroller/
_[Dd]ocs/
_[Ee]ngine/
_[Tt]ests/
_PredefinedSettings/

# General

.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx